* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}


.home{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 20px;
  font-size: 1.5rem;
}

.sing-up{
  height: 100vh;
  width: 100%;
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.About{
  height: 100vh;
  width: 100%;
  font-size: 3rem;
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 20px;
  font-size: 1.5rem;
}

.Contact{
  height: 100vh;
  width: 100%;
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


h3{
  margin-left: 120px;
}
.ein {
  text-align:center;
  margin-top: 120px;
  font-size: 1.2rem;
  margin-left: 10px;
  margin-right: 10px;

}


.image-container img {
  margin-bottom: -110px;
  margin-top: 20px;
  border-radius: 50%;
  text-align: center;
  
}
.upper-container{
  margin-top: -800px;
  
}
.about-mini-con{
  height: auto;
  background-color: rgba(235, 186, 247, 0.1);
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px;
  margin: 50px 40px 10px;
  margin-top: -720px;
  margin-left: 500px;
  width: 800px;
  font-size: 3rem;
  color: #fff;
  font-size: 20px;
  font-size: 1.5rem;
}


.contact-conteiner, .singup-conteiner{
  border: 5px solid;
  display: block;
  height: 700px;
 
}


.min-connteiner-con, .min.con {
  height: auto;
  background-color: rgba(235, 186, 247, 0.1);
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px;
  margin: 50px 40px 10px;
  margin-top: -720px;
  margin-left: 500px;
  width: 800px;
  font-size: 3rem;
  color: #fff;
  font-size: 20px;
  font-size: 1.5rem;
 
  
}

li {
  padding: 0 1.875rem 1.25rem;
  list-style: none;

}

.ft-social-list {
  display: flex;
  justify-content: center;
  
 
 
}

.ft-social-list .fab, .ft-social-list  .fas {
  margin: 0.5rem;
  font-size: 5.25rem;
  color: #fff;

  
}

@media screen and (max-width: 1366px) {
  .about-mini-con  {
    font-size: 10px;
    margin-top: 380px;
    margin-left: 100px;
    width: 800px;
    
    
    
    
  }
  img{
    height: 100px;
    width: 100px;
  }
}






